* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff5e6;
    color: #22468d;
    margin: 0px;
}

.destaque {
    color:#db4682;
}

.conteudo {
    margin: 10px;
}

h1 {
    margin: 0px;
    padding: 20px;
    background-color: #00b296;
    color: white;
}

ul {
    font-size: large;
}